{% set route = app.request.attributes.get('_route') %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('dist/admin.css') }}">
        <link rel="stylesheet" href="{{ asset('fontawesome/css/all.css') }}">
    {% endblock %}
</head>
<body>
<nav class="navbar">
    <span class="navbar__name">{{ app.user.username }}</span>
    <hr>
    <ul class="navbarLinks">
        <li><a href="{{ path('admin_dashboard') }}" class="{{ is_active_route('admin_dashboard', route, "active") }}">Tableau
                de bord</a>
        </li>
        <li><a href="{{ path('admin_services') }}" class="{{ is_active_route('admin_services', route, "active") }}">Prestations</a>
        </li>
    </ul>
    <hr>
    <a href="{{ path('logout') }}">Déconnexion</a>
</nav>
{% block body %}{% endblock %}
{% block javascripts %}
{% endblock %}
</body>
</html>
